In [1]:
import os, time
from constants import *

In [2]:
import pandas as pd
import numpy as np

In [3]:
headers = np.genfromtxt(os.path.join(PROCESSED_PATH, "HOUR_00001.csv"), delimiter=',', max_rows=1, dtype=str)
headers

array(['SUBJECT_ID', 'HADM_ID', 'AGE', 'GENDER', 'TSTAGE', 'WEIGHT',
       'HEIGHT', 'SYSTOLIC BP', 'DIASTOLIC BP', 'TEMPERATURE',
       'RESPIRATORY RATE', 'HEART RATE', 'SPO2', '50912', '51006',
       '51221', '51265', '51301', '51222', '51249', '51248', '51250',
       '51279', '51277', '50971', '50983', '50902', '50882', '50868',
       '50931', '50960', '50970', '50893', '51237', '51274', '51275',
       '50820', '51491', '51498', '51244', '51254', '51256', '51146',
       '51200', '50802', '50804', '50821', '50818', '50813', '50861',
       '50878', '51492', '50885', '50863', '51484', '51514', '51478',
       '50862', '51508', '51506', '51466', '51464', '51487', 'STAGE'],
      dtype='<U16')

In [4]:
data = np.genfromtxt(os.path.join(PROCESSED_PATH, "HOUR_00001.csv"), delimiter=',', skip_header=1)

In [5]:
subject_hadm_ids = data[:,0:2]
print(subject_hadm_ids.shape)

x = data[:,3:-2]
print(x.shape)
print(x)

y = data[:,-1]
print(y.shape)
# y

(17266, 2)
(17266, 59)
[[ 1.   1.   nan ...  nan  nan  nan]
 [ 0.   0.  53.6 ...  nan  nan  nan]
 [ 0.   9.   nan ...  nan  nan  nan]
 ...
 [ 0.  35.   nan ...  nan  nan  nan]
 [ 0.   8.   nan ...  nan  nan  nan]
 [ 1.   0.   nan ...  nan  nan  nan]]
(17266,)

In [9]:
row = np.random.randint(data.shape[0])
num_nan = np.count_nonzero(np.isnan(data[row,:]))
print("row:", row, "num_nan:", num_nan, "(%.3f)" % (num_nan/data.shape[1]))
for i in range(data.shape[1]):
    print("%03d | % 16s | %.6f" % (i, headers[i], data[row,i]))

row: 10965 num_nan: 14 (0.219)
000 |       SUBJECT_ID | 12136.000000
001 |          HADM_ID | 108671.000000
002 |              AGE | 72.000000
003 |           GENDER | 0.000000
004 |           TSTAGE | 0.000000
005 |           WEIGHT | nan
006 |           HEIGHT | nan
007 |      SYSTOLIC BP | 131.375000
008 |     DIASTOLIC BP | 66.625000
009 |      TEMPERATURE | nan
010 | RESPIRATORY RATE | 19.250000
011 |       HEART RATE | 71.500000
012 |             SPO2 | 98.250000
013 |            50912 | 0.600000
014 |            51006 | 13.000000
015 |            51221 | 28.100000
016 |            51265 | 240.000000
017 |            51301 | 6.200000
018 |            51222 | 9.700000
019 |            51249 | 34.500000
020 |            51248 | 32.900000
021 |            51250 | 95.000000
022 |            51279 | 2.940000
023 |            51277 | 15.100000
024 |            50971 | 3.200000
025 |            50983 | 135.000000
026 |            50902 | 102.000000
027 |            50882 | 20.000000
028 |            50868 | 16.000000
029 |            50931 | 204.000000
030 |            50960 | 1.300000
031 |            50970 | 4.700000
032 |            50893 | 9.000000
033 |            51237 | 1.000000
034 |            51274 | 12.200000
035 |            51275 | 28.300000
036 |            50820 | 7.440000
037 |            51491 | nan
038 |            51498 | nan
039 |            51244 | 9.200000
040 |            51254 | 1.800000
041 |            51256 | 88.200000
042 |            51146 | 0.000000
043 |            51200 | 0.800000
044 |            50802 | -2.000000
045 |            50804 | 20.000000
046 |            50821 | 111.000000
047 |            50818 | 29.000000
048 |            50813 | 1.600000
049 |            50861 | 6.000000
050 |            50878 | 17.000000
051 |            51492 | nan
052 |            50885 | 0.400000
053 |            50863 | 54.000000
054 |            51484 | nan
055 |            51514 | nan
056 |            51478 | nan
057 |            50862 | 3.600000
058 |            51508 | nan
059 |            51506 | nan
060 |            51466 | nan
061 |            51464 | nan
062 |            51487 | nan
063 |            STAGE | 0.000000

In [8]:
for i in range(data.shape[1]):
    num_nan = np.count_nonzero(np.isnan(data[:,i]))
    percent = num_nan/data.shape[0]
    
    print("%03d | % 16s | % 6d / %d | %.2f" % (i, headers[i], num_nan, data.shape[0], percent))

000 |       SUBJECT_ID |      0 / 17266 | 0.00
001 |          HADM_ID |      0 / 17266 | 0.00
002 |              AGE |      0 / 17266 | 0.00
003 |           GENDER |      0 / 17266 | 0.00
004 |           TSTAGE |      0 / 17266 | 0.00
005 |           WEIGHT |  14738 / 17266 | 0.85
006 |           HEIGHT |  16575 / 17266 | 0.96
007 |      SYSTOLIC BP |  11812 / 17266 | 0.68
008 |     DIASTOLIC BP |  11813 / 17266 | 0.68
009 |      TEMPERATURE |  13714 / 17266 | 0.79
010 | RESPIRATORY RATE |  11327 / 17266 | 0.66
011 |       HEART RATE |  11299 / 17266 | 0.65
012 |             SPO2 |  11496 / 17266 | 0.67
013 |            50912 |  15484 / 17266 | 0.90
014 |            51006 |  15488 / 17266 | 0.90
015 |            51221 |  15359 / 17266 | 0.89
016 |            51265 |  15478 / 17266 | 0.90
017 |            51301 |  15582 / 17266 | 0.90
018 |            51222 |  15584 / 17266 | 0.90
019 |            51249 |  15598 / 17266 | 0.90
020 |            51248 |  15598 / 17266 | 0.90
021 |            51250 |  15598 / 17266 | 0.90
022 |            51279 |  15598 / 17266 | 0.90
023 |            51277 |  15601 / 17266 | 0.90
024 |            50971 |  15429 / 17266 | 0.89
025 |            50983 |  15498 / 17266 | 0.90
026 |            50902 |  15481 / 17266 | 0.90
027 |            50882 |  15490 / 17266 | 0.90
028 |            50868 |  15519 / 17266 | 0.90
029 |            50931 |  15520 / 17266 | 0.90
030 |            50960 |  15708 / 17266 | 0.91
031 |            50970 |  15840 / 17266 | 0.92
032 |            50893 |  15824 / 17266 | 0.92
033 |            51237 |  15678 / 17266 | 0.91
034 |            51274 |  15677 / 17266 | 0.91
035 |            51275 |  15708 / 17266 | 0.91
036 |            50820 |  15295 / 17266 | 0.89
037 |            51491 |  16765 / 17266 | 0.97
038 |            51498 |  16793 / 17266 | 0.97
039 |            51244 |  16701 / 17266 | 0.97
040 |            51254 |  16701 / 17266 | 0.97
041 |            51256 |  16701 / 17266 | 0.97
042 |            51146 |  16701 / 17266 | 0.97
043 |            51200 |  16701 / 17266 | 0.97
044 |            50802 |  15347 / 17266 | 0.89
045 |            50804 |  15347 / 17266 | 0.89
046 |            50821 |  15347 / 17266 | 0.89
047 |            50818 |  15347 / 17266 | 0.89
048 |            50813 |  16175 / 17266 | 0.94
049 |            50861 |  16440 / 17266 | 0.95
050 |            50878 |  16444 / 17266 | 0.95
051 |            51492 |  17119 / 17266 | 0.99
052 |            50885 |  16473 / 17266 | 0.95
053 |            50863 |  16487 / 17266 | 0.95
054 |            51484 |  17211 / 17266 | 1.00
055 |            51514 |  17125 / 17266 | 0.99
056 |            51478 |  17207 / 17266 | 1.00
057 |            50862 |  16635 / 17266 | 0.96
058 |            51508 |  17266 / 17266 | 1.00
059 |            51506 |  17266 / 17266 | 1.00
060 |            51466 |  17266 / 17266 | 1.00
061 |            51464 |  17266 / 17266 | 1.00
062 |            51487 |  17266 / 17266 | 1.00
063 |            STAGE |      0 / 17266 | 0.00